

<div>

 {{!-- <button onclick="chatBox()">Click here to chat!</button> --}}
 <img src="assets/images/chat_image.png" button onclick="chatBox()"></button>

   <div id="cBody" style="display: none">
    <div class="card">
      <h4 class="card-header text-center">Chat</h4>
      <div class="card-body">
        <span id="chatBox"></span>
        <textarea id="message"></textarea>
        <button id="msgSend">Send</button>
      </div>
    </div>
  </div>
  </div>

  <script src="/assets/js/chat.js"></script>