<div>

  <link href="chat.hbs">


 
  <button type="button" class="btn btn-secondary">Click here to chat!</button>

   <div id="body">
    <div class="card">
      <h4 class="card-header text-center">Chat</h4>
      <div class="card-body">
        <span id="chatBox"></span>
        <textarea id="message"></textarea>
        <button id="msgSend">Send</button>
      </div>
    </div>
  </div>
  </div>