<header>
  <a href="/">
    <div class="container my-container">
      <header id="welHead">
        <div class="card-panel jumbotronStyle" id="wrapperHeader">
        </div>
  </a>
  <!-- I was also thinking about " Bouquet Garni "-->
</header>