<div class="col s12 m4">
  <div class="card Panel">
    <div class="card-content">
      <span class="card-title">Login For More</span>
      <!-- Login Card-->
      <form action="/api/login" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Enter password">
        </div>
        <input type="submit">
      </form>
    </div>
  </div>
</div>