<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="/assets/images/chopping.jpg">
      </div>
      <img class="circle" src="/assets/images/board.jpg">
      <span class="white-text name" id="username"></span>
      <span class="white-text email" id="email"></span>


  </li>
  <li><a href="/user/userlanding"><i class="material-icons">search</i>Search Recipe</a></li>
  <li><a href="/user/userRecipes"><i class="material-icons">list</i>My Recipes</a></li>
  <li><a href="/user/addRecipe"><i class="material-icons">note_add</i>Add Recipe</a></li>
  <li>
    <div class="divider"></div>
  </li>

  <li><a class="waves-effect" href="/user/adminMain"><i class="material-icons">supervisor_account</i>Admin Page</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a href="/logout"><i class="material-icons left">settings_power</i>Logout</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
  });

  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  var collapsibleElem = document.querySelector('.collapsible');
  var collapsibleInstance = M.Collapsible.init(collapsibleElem, {});

  // Or with jQuery

  $(document).ready(function () {
    $('.sidenav').sidenav();
  });
  console.log("hi")
  $.ajax({
    url: "/user/user-info",
    method: "GET"
  }).then(userInfo => {
    console.log(userInfo);
    $("#username").text(`${userInfo.firstName} ${userInfo.lastName}`);
    $("#email").text(`${userInfo.email}`);
  })
</script>