<h2>Add New Recipe</h2>
<div class="row">
    <div>
  {{#if errors}}
    {{#each errors}}
    <span style="color:red;">{{this.msg}}</span><br>
    {{/each}}
  {{/if}}
</div>
<form id="addRecipe">
    
     <div class="row">
       <div class="input-field col s6">
         <label for="recipe_name"></label>
         <input placeholder="Recipe Name" type="text" id="recipe_name" name ="recipe_name" class="validate">
       </div>
       <div class="input-field col s3 myOption">
             <select name="cuisine_type" id="cuisine_type">
               <option value="" disabled selected>Cuisine</option>
               <option value="1">Asian</option>
               <option value="2">Italian</option>
               <option value="3">Mexican</option>
             </select>
             <label for="cuisine_type">Select Cuisine Type</label>
           </div>
     </div>

       <div class="file-field input-field s6">
         <div class="col s1">
           <i class="material-icons prefix">attach_file</i>
           <input type="file" id="image-input">
           <label for="image-input">Choose file</label>
         </div>
         <div class="file-path-wrapper">
           <input class="file-path validate" type="text" placeholder="Recipe Image">
         </div>
       </div>
  
     <div>
       <h6>Ingredients</h6>
     </div>
     <div class="row">
         <div class="row">
           <div class="input-field col s3">
             <i class="material-icons prefix">account_circle</i>
             <input id="ingredient_name" name="ingredient_name" type="text" class="validate">
             <label for="ingredient_name">Ingredients</label>
           </div>
           <div class="input-field col s3">
             <i class="material-icons prefix">phone</i>
             <input id="ingredient_quantity" name="ingredient_quantity" type="text" class="validate">
             <label for="ingredient_quantity">Quantity</label>
           </div>
           <div class="input-field col s3 myOption">
             <select name="measurementType" id="measurementType">
               <option value="" disabled selected>Measurement</option>
               <option value="1">Cups</option>
               <option value="2">Oz</option>
               <option value="3">Grams</option>
             </select>
             <label for="measurementType">Select Measurement</label>
           </div>
           <i class="material-icons prefix moreIngredients">add_circle</i>
     </div>
     <div class="col s8">
       <div id="editor" name="recipe_instruction" style="height:100px;">
       </div>
     </div>
     <div class="col s6">
       <button class="waves-effect waves-light" type="submit" name="action">Add Recipe
         <i class="material-icons right">send</i>
       </button>
     </div>

 </div>
</form>
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  var options = {
  debug: 'info',
  modules: {
    toolbar: [
      ['bold','italic','underline'],
      [{header:[1,2,3,4,5,6]}],
      ['color']
    ]
  },
  placeholder: 'Recipe Instructions ...',
  readOnly: false,
  theme: 'snow'
};
var editor = new Quill('#editor', options);
</script>
<script src="/assets/js/addRecipe.js"></script>