<div>
  {{#if userExisting}}
    <body onload="M.toast({html: '{{userExisting}}'})"></body>
  {{/if}}
  {{#if errors}}
    {{#each errors}}
    <span style="color:red;">{{this.msg}}</span><br>
    {{/each}}
  {{/if}}
</div>
<div class="row">
    <form action="/api/createUser" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" name="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" name="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="passwordconfirm" name="passwordconfirm" type="password" class="validate">
          <label for="password">Confirm Password</label>
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
