<h4>Admin Page</h4>
<!-- Div for Messages/Error-->
<div>
{{#if itemCreated}}
<span style="color:green;">{{itemCreated}}</span><br>
{{/if}}

{{#if errors}}
{{#each errors}}
<span style="color:red;">{{this.msg}}</span><br>
{{/each}}
{{/if}}
</div>

<!--Add Items -->
<div style="width: 50%">
<form action="/api/addItems" method="POST">
     <div class="input-field col s3 myOption">
     <select name="adminChoice" id="adminChoice">
       <option value="" disabled selected>Activity</option>
       <option value="1">Measurement</option>
       <option value="2">Cuisine</option>
        <option value="3">Category</option>
       <option value="4">Change User Type</option>
     </select>
     <label>Select Activity</label>
   </div>

  <div class="row">
    <div class="input-field col s8  float right">
      <input placeholder="Enter Value" id="item" name="item" type="text" class="validate">
      <label for="Add Item"></label>
      <button type="submit">Submit</button>
    </div>
 </div>
</form>
</div>
<br>
<br>

<!-- Display Items -->
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#test1">Measurement</a></li>
      <li class="tab col s3"><a href="#test2">Cuisine</a></li>
      <li class="tab col s3"><a href="#test3">Category</a></li>
      <li class="tab col s3"><a href="#test4">Users</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12"><div id="mContainer"></div></div>
  <div id="test2" class="col s12"><div id="cContainer"></div></div>
  <div id="test3" class="col s12"><div id="catContainer"></div></div>
  <div id="test4" class="col s12"><div id="uContainer"></div></div>
</div>


 <script src="/assets/js/admin.js"></script>

