<!-- Card Panel -->
<div class="row">
  <!-- Card Trending -->
  {{>linksTrending}}
  <!-- Card Search-->
  {{>searchCard}}
  <!-- Card Login-->
  {{>loginWidget}}
</div>
<!-- End Card Panel-->
<script>
  $("document").ready(function () {
        $('#modal1').modal();
  });

</script>
<script src="/assets/js/trending.js"></script>