<div class="container" id="welContainer">
    <!-- Favorites-->
    <div id="searchMain">
        Saved Recipes
    </div>
    <div id="favs">

    </div>
    <br>
    <!-- Preferences-->
    <div id="searchMain">
        <strong>NOTE:</strong> Recipes are searched based on your preferences.
    </div>
    <div id="searchMain1">
        Allergies : <span id="allergiesSpan">None</span>&nbsp;&nbsp;&nbsp;&nbsp;Diet : <span id="dietSpan">None</span>
    </div>
    <!-- form -->
    <form id="searchForm">
        <div class="input-field">
            <input placeholder="Enter Ingredient" id="ingredient" type="text" class="validate">
            <button class="waves-effect  waves-light" type="submit" id="searchbyIng"><i
                    class="material-icons left">search</i>
                Search by Ingredient</button>
            <!--Modal for Preference-->

            <!-- Modal Trigger -->
            <button data-target="modal1" class="waves-effect waves-light  modal-trigger" id="searchbyIng"><i
                    class="material-icons left" >settings</i>Update
                Preferences</button>

            <div id="errorMsg"></div>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <!--Preference code-->
                    <form id="myform">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header" id="prefBar"><i class="material-icons">edit</i>
                                    My Allergies</div>
                                <div class="collapsible-body" id="prefModal">
                                    <table>
                                        <tr>
                                            <td>
                                                <label for="peanuts">
                                                    <input id="peanuts" type="checkbox" />
                                                    <span>Peanuts</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label for="eggs">
                                                    <input id="eggs" type="checkbox" />
                                                    <span>Eggs</span>
                                                </label>
                                            </td>
                                            <td><label for="gluten">
                                                    <input id="gluten" type="checkbox" />
                                                    <span>Gluten</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="soy">
                                                    <input id="soy" type="checkbox" />
                                                    <span>Soy</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label for="dairy">
                                                    <input id="dairy" type="checkbox" />
                                                    <span>Dairy</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label for="shellfish">
                                                    <input id="shellfish" type="checkbox" />
                                                    <span>Shellfish</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header" id="prefBar"><i class="material-icons">edit</i>My
                                    Diets</div>
                                <div class="collapsible-body" id="prefModal">
                                    <table>
                                        <tr>
                                            <td>
                                                <label for="balanced">
                                                    <input id="balanced" type="checkbox" />
                                                    <span>Balanced</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label for="high-protein">
                                                    <input id="high-protein" type="checkbox" />
                                                    <span>High Protein</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label for="high-fiber">
                                                    <input id="high-fiber" type="checkbox" />
                                                    <span>High-Fiber</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label for="low-fat">
                                                    <input id="low-fat" type="checkbox" />
                                                    <span>Low Fat</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label for="low-carb">
                                                    <input id="low-carb" type="checkbox" />
                                                    <span>Low Carbohydrate</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label for="low-sodium">
                                                    <input id="low-sodium" type="checkbox" />
                                                    <span>Low Sodium</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </li>
                        </ul>
                        <a class="waves-effect waves-ripple btn" id="prefBar"><i class="material-icons right">send</i>Save
                            My Preferences</a>
                        <span id="prefMessage"></span>
                    </form>

                    <!--End of Preference code-->
                </div>
                <div class="modal-footer">
                    <a href="#!" id="pref_close"
                        class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
            <!--End of Preference Modal-->
        </div>
    </form>

    <!-- Recipes-->
    <div class="row" id="recipes"></div>
</div>

<script>
    $("document").ready(function () {
        $('#modal1').modal();
        $('.collapsible').collapsible();
    });
</script>
<script src="/assets/js/welcome.js"></script>